# Notebook 2: Download shotgun SRA data

In this notebook you can find the names, source location, and code used to download shotgun sequence data to map to the reference genome.

In [11]:
##%%bash
##git clone -b hotfix --single-branch https://github.com/dereneaton/ipyrad.git
##cd ipyrad/
##pip install -e .

Obtaining file:///home/nickpichome/PDSB/Macaca/ipyrad
Requirement already satisfied: notebook in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipyrad==0.8.0.dev0) (5.7.0)
Requirement already satisfied: ipyparallel>=6.0.2 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipyrad==0.8.0.dev0) (6.2.3)
Requirement already satisfied: scipy>0.10 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipyrad==0.8.0.dev0) (1.1.0)
Requirement already satisfied: numpy>=1.9 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipyrad==0.8.0.dev0) (1.15.0)
Requirement already satisfied: numba>=0.37 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipyrad==0.8.0.dev0) (0.40.1)
Requirement already satisfied: pandas>=0.16 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipyrad==0.8.0.dev0) (0.23.4)
Requirement already satisfied: pysam>=0.10.0 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipyrad==0.8.0.dev0) (0.15.1)
Requirement already satisfied: h5py in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipyrad==0.8.0.dev0) (2.8.0)
Requirement already satisfied: mpi4py in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipyrad==0.8.0.dev0) (3.0.0)
Requirement already satisfied: cutadapt in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipyrad==0.8.0.dev0) (1.18)
Requirement already satisfied: toytree in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipyrad==0.8.0.dev0) (0.1.18)
Requirement already satisfied: requests in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipyrad==0.8.0.dev0) (2.18.4)
Requirement already satisfied: jinja2 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from notebook->ipyrad==0.8.0.dev0) (2.10)
Requirement already satisfied: tornado>=4 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from notebook->ipyrad==0.8.0.dev0) (5.0.2)
Requirement already satisfied: pyzmq>=17 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from notebook->ipyrad==0.8.0.dev0) (17.0.0)
Requirement already satisfied: ipython_genutils in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from notebook->ipyrad==0.8.0.dev0) (0.2.0)
Requirement already satisfied: traitlets>=4.2.1 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from notebook->ipyrad==0.8.0.dev0) (4.3.2)
Requirement already satisfied: jupyter_core>=4.4.0 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from notebook->ipyrad==0.8.0.dev0) (4.4.0)
Requirement already satisfied: jupyter_client>=5.2.0 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from notebook->ipyrad==0.8.0.dev0) (5.2.3)
Requirement already satisfied: nbformat in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from notebook->ipyrad==0.8.0.dev0) (4.4.0)
Requirement already satisfied: nbconvert in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from notebook->ipyrad==0.8.0.dev0) (5.3.1)
Requirement already satisfied: ipykernel in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from notebook->ipyrad==0.8.0.dev0) (4.8.2)
Requirement already satisfied: Send2Trash in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from notebook->ipyrad==0.8.0.dev0) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from notebook->ipyrad==0.8.0.dev0) (0.8.1)
Requirement already satisfied: prometheus_client in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from notebook->ipyrad==0.8.0.dev0) (0.4.2)
Requirement already satisfied: decorator in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipyparallel>=6.0.2->ipyrad==0.8.0.dev0) (4.3.0)
Requirement already satisfied: ipython>=4 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipyparallel>=6.0.2->ipyrad==0.8.0.dev0) (7.1.1)
Requirement already satisfied: python-dateutil>=2.1 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipyparallel>=6.0.2->ipyrad==0.8.0.dev0) (2.7.2)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from numba>=0.37->ipyrad==0.8.0.dev0) (0.25.0)
Requirement already satisfied: pytz>=2011k in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from pandas>=0.16->ipyrad==0.8.0.dev0) (2018.5)
Requirement already satisfied: six in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from h5py->ipyrad==0.8.0.dev0) (1.11.0)
Requirement already satisfied: xopen>=0.3.2 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from cutadapt->ipyrad==0.8.0.dev0) (0.3.5)
Requirement already satisfied: toyplot>=0.17.0 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from toytree->ipyrad==0.8.0.dev0) (0.17.0)
Requirement already satisfied: future in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from toytree->ipyrad==0.8.0.dev0) (0.17.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from requests->ipyrad==0.8.0.dev0) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from requests->ipyrad==0.8.0.dev0) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from requests->ipyrad==0.8.0.dev0) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from requests->ipyrad==0.8.0.dev0) (2018.10.15)
Requirement already satisfied: MarkupSafe>=0.23 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from jinja2->notebook->ipyrad==0.8.0.dev0) (1.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from nbformat->notebook->ipyrad==0.8.0.dev0) (2.6.0)
Requirement already satisfied: mistune>=0.7.4 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from nbconvert->notebook->ipyrad==0.8.0.dev0) (0.8.3)
Requirement already satisfied: pygments in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from nbconvert->notebook->ipyrad==0.8.0.dev0) (2.2.0)
Requirement already satisfied: entrypoints>=0.2.2 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from nbconvert->notebook->ipyrad==0.8.0.dev0) (0.2.3)
Requirement already satisfied: bleach in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from nbconvert->notebook->ipyrad==0.8.0.dev0) (2.1.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from nbconvert->notebook->ipyrad==0.8.0.dev0) (1.4.2)
Requirement already satisfied: testpath in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from nbconvert->notebook->ipyrad==0.8.0.dev0) (0.3.1)
Requirement already satisfied: setuptools>=18.5 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipython>=4->ipyparallel>=6.0.2->ipyrad==0.8.0.dev0) (39.0.1)
Requirement already satisfied: jedi>=0.10 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipython>=4->ipyparallel>=6.0.2->ipyrad==0.8.0.dev0) (0.12.0)
Requirement already satisfied: pickleshare in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipython>=4->ipyparallel>=6.0.2->ipyrad==0.8.0.dev0) (0.7.4)
Requirement already satisfied: prompt_toolkit<2.1.0,>=2.0.0 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipython>=4->ipyparallel>=6.0.2->ipyrad==0.8.0.dev0) (2.0.7)
Requirement already satisfied: backcall in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipython>=4->ipyparallel>=6.0.2->ipyrad==0.8.0.dev0) (0.1.0)
Requirement already satisfied: pexpect in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from ipython>=4->ipyparallel>=6.0.2->ipyrad==0.8.0.dev0) (4.5.0)
Requirement already satisfied: pypng in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from toyplot>=0.17.0->toytree->ipyrad==0.8.0.dev0) (0.0.18)
Requirement already satisfied: custom-inherit in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from toyplot>=0.17.0->toytree->ipyrad==0.8.0.dev0) (2.2.0)
Requirement already satisfied: multipledispatch in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from toyplot>=0.17.0->toytree->ipyrad==0.8.0.dev0) (0.6.0)
Requirement already satisfied: arrow in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from toyplot>=0.17.0->toytree->ipyrad==0.8.0.dev0) (0.12.1)
Requirement already satisfied: reportlab in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from toyplot>=0.17.0->toytree->ipyrad==0.8.0.dev0) (3.5.9)
Requirement already satisfied: html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from bleach->nbconvert->notebook->ipyrad==0.8.0.dev0) (1.0.1)
Requirement already satisfied: parso>=0.2.0 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from jedi>=0.10->ipython>=4->ipyparallel>=6.0.2->ipyrad==0.8.0.dev0) (0.2.0)
Requirement already satisfied: wcwidth in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from prompt_toolkit<2.1.0,>=2.0.0->ipython>=4->ipyparallel>=6.0.2->ipyrad==0.8.0.dev0) (0.1.7)
Requirement already satisfied: ptyprocess>=0.5 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from pexpect->ipython>=4->ipyparallel>=6.0.2->ipyrad==0.8.0.dev0) (0.5.2)
Requirement already satisfied: pillow>=4.0.0 in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from reportlab->toyplot>=0.17.0->toytree->ipyrad==0.8.0.dev0) (5.0.0)
Requirement already satisfied: webencodings in /home/nickpichome/miniconda3/lib/python3.6/site-packages (from html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre->bleach->nbconvert->notebook->ipyrad==0.8.0.dev0) (0.5.1)
Installing collected packages: ipyrad
  Found existing installation: ipyrad 0.8.0.dev0
    Uninstalling ipyrad-0.8.0.dev0:
      Successfully uninstalled ipyrad-0.8.0.dev0
  Running setup.py develop for ipyrad
Successfully installed ipyrad

Cloning into 'ipyrad'...

In [11]:
import pandas as pd
import numpy as np
import ipyrad.analysis as ipa

### Parallel Client

In [3]:
%%bash
ipcluster start

Process is terminated.

In [12]:
import ipyparallel as ipp

In [8]:
ipyclient = ipp.Client()

### Sampling table

In [23]:
# load in table and print
df = pd.read_csv("./data/SRA-table.csv")
df[["Species", "Group", "BioSample", "Sample", "Study", "PRJ"]]

,Species,Group,BioSample,Sample,Study,PRJ
0,Macaca mulatta (reference),mulatta,SAMN07305139,SRP103539,SRP103539,PRJNA382404
1,Macaca mulatta (Chinese),mulatta,SAMN05883701,SRS1762028,SRP092140,PRJNA345528
2,Macaca fascicularis,mulatta,SAMN00811240,SRS300124,SRP011089,PRJNA20409
3,Macaca fuscata,mulatta,SAMD00011919,DRS001583,DRP000620,PRJDB2459
4,Macaca thibethana,sinica,SAMN02390221,SRS498543,SRP032525,PRJNA226187
5,Macaca assamensis,sinica,SAMN04316321,SRS1196892,SRP067118,PRJNA305009
6,Macaca arctoides,sinica,SAMN04316319,SRS1196879,SRP067118,PRJNA305009
7,Macaca nemestrina,nemestrina,SAMN07503410,SRS2436621,SRP115775,PRJNA398198
8,Macaca tonkeana,nemestrina,SAMN07503429,SRS2441459,SRP115775,PRJNA398198
9,Macaca nigra,nemestrina,SAMN07503430,SRS2436633,SRP115775,PRJNA398198
10,Macaca sylvanus,sylvanus,NaN,NaN,NaN,NaN
11,Macaca silenus,nemestrina,NaN,NaN,NaN,NaN
12,Papio anubis,NaN,SAMN03073708,SRS742664,SRP026666,PRJNA54005

# Query NCBI and download run files
To select the best Sample from each Study and get the run IDS (SRR).

### *Macaca mulatta* (Chinese)

In [13]:
sra = ipa.sratools("SRP092140")
df = sra.fetch_runinfo([1,4,6,7,25,28,29,30,35])
df.sort_values(by="spots", ascending=False).head()

Fetching project data...

,Run,spots,spots_with_mates,avgLength,Sample,TaxID,ScientificName,SampleName,Sex
20,SRR4454031,91947333,91947333,200,SRS1762020,9544,Macaca mulatta,M13,missing
6,SRR4454029,83943423,83943423,200,SRS1762018,9544,Macaca mulatta,M11,missing
14,SRR4454030,68556063,68556063,200,SRS1762019,9544,Macaca mulatta,M12,missing
21,SRR5009874,57066114,57066114,200,SRS1762020,9544,Macaca mulatta,M13,missing
13,SRR5009873,46149740,46149740,200,SRS1762019,9544,Macaca mulatta,M12,missing

In [83]:
candidates=['SRR4454031']

### _Macaca fuscata_

In [81]:
sra = ipa.sratools("DRP000620")
df = sra.fetch_runinfo([1,4,6,7,25,28,29,30,35])
df.sort_values(by="spots", ascending=False).head()

Fetching project data...

,Run,spots,spots_with_mates,avgLength,Sample,TaxID,ScientificName,SampleName,Sex
1,DRR002233,718652919,718652919,202,,SAMD00011919,simple,9543,
0,DRR002234,705594888,705594888,202,,SAMD00011919,simple,9543,

In [84]:
candidates.append("DRR002233")

### Macaca fascicularis
This project incorrectly listed that the data was not paired (no 'spots with mates') but that is not true. So we use the 'split_pairs' argument in `.run()` below.

In [6]:
sra = ipa.sratools("SRP011089")
df = sra.fetch_runinfo([1,4,6,7,25,28,29,30,35])
df.sort_values(by="spots", ascending=False).head()

Fetching project data...

,Run,spots,spots_with_mates,avgLength,Sample,TaxID,ScientificName,SampleName,Sex
50,SRR445695,80398858,0,200,SRS300124,9541,Macaca fascicularis,125200,
49,SRR445694,80321376,0,200,SRS300124,9541,Macaca fascicularis,125200,
10,SRR445630,36095170,0,200,SRS300124,9541,Macaca fascicularis,125200,
22,SRR445666,36003689,0,200,SRS300124,9541,Macaca fascicularis,125200,
18,SRR445662,35992819,0,200,SRS300124,9541,Macaca fascicularis,125200,

In [71]:
##candidates.append("SRR445695")

In [80]:
sra = ipa.sratools("SRR4454031")
sra.run(
    dry_run=True,
    ipyclient=ipyclient,
    name_fields=(29, 1), 
    name_separator="-",
    split_pair=True
)

TypeError: run() got an unexpected keyword argument 'split_pair'

### Macaca thibethana

In [6]:
# Macaca thibethana
sra = ipa.sratools("SRP032525")
df = sra.fetch_runinfo([1,4,6,7,25,28,29,30,35])
df

Fetching project data...

,Run,spots,spots_with_mates,avgLength,Sample,TaxID,ScientificName,SampleName,Sex
0,SRR1024051,637506195,637506195,180,SRS498543,54602,Macaca thibetana,Tibetan macaque NO. 3,

In [85]:
candidates.append("SRR1024051")

In [10]:
sra = ipa.sratools("SRR1024051")
sra.run(ipyclient=ipyclient, name_fields=(29, 30, 1), name_separator="-")

[                    ]   0% 0:00:20 |  Downloading fastq files |  |keyboard interrupt...

Warning: One or more files failed to finish downloading or converting to fastq.
To avoid corruption the file was file was removed. Try downloading again to get
any missing files. The following samples were affected:
['SRR1024051.sra.cache']

### Macaca assamensis AND arctoides

In [17]:
sra = ipa.sratools("SRP067118")
df = sra.fetch_runinfo([1,4,6,7,25,28,29,30,35])
df

Fetching project data...

,Run,spots,spots_with_mates,avgLength,Sample,TaxID,ScientificName,SampleName,Sex
0,SRR2981139,500517130,500517130,200,SRS1196879,9540,Macaca arctoides,SM1,female
1,SRR2981140,235902683,235902683,250,SRS1196878,9540,Macaca arctoides,SM2,female
2,SRR2981114,615827332,615827332,250,SRS1196892,9551,Macaca assamensis,XH1,male

In [86]:
candidates.extend(("SRR2981139","SRR2981114"))

In [20]:
# Macaca nigra AND tonkeana AND nemestrina
sra = ipa.sratools("SRP115775")
df = sra.fetch_runinfo([1,4,6,7,25,28,29,30,35])
df

Fetching project data...

,Run,spots,spots_with_mates,avgLength,Sample,TaxID,ScientificName,SampleName,Sex
0,SRR5947294,449692098,449692098,302,SRS2436633,54600,Macaca nigra,PF660,female
1,SRR5947293,448474934,448474934,302,SRS2441459,40843,Macaca tonkeana,PM592,male
2,SRR5947292,465782866,465782866,302,SRS2436621,90388,Macaca nemestrina nemestrina,PM664,male

In [87]:
candidates.extend(("SRR5947294", "SRR5947293","SRR5947292"))

### Get just the best run for each species...

In [88]:
##Best runs for each species, excluding fascicularis which was incorrectly listed as not paired:
candidates

['SRR4454031',
 'DRR002233',
 'SRR1024051',
 'SRR2981139',
 'SRR2981114',
 'SRR5947294',
 'SRR5947293',
 'SRR5947292']

In [89]:
for i in candidates:
    sra = ipa.sratools(i)
    sra.run(
        dry_run=True,
        ipyclient=ipyclient,
        name_fields=(29, 1), 
        name_separator="-",
    )

The following files will be written to: /home/nickpichome/PDSB/Macaca/gatktutorial/sra-fastq-data
0    Macaca_mulatta-SRR4454031
1    Macaca_mulatta-SRR5009874
Name: Accession, dtype: object

The following files will be written to: /home/nickpichome/PDSB/Macaca/gatktutorial/sra-fastq-data
0    simple-DRR002233
Name: Accession, dtype: object

The following files will be written to: /home/nickpichome/PDSB/Macaca/gatktutorial/sra-fastq-data
0    Macaca_thibetana-SRR1024051
Name: Accession, dtype: object

The following files will be written to: /home/nickpichome/PDSB/Macaca/gatktutorial/sra-fastq-data
0    Macaca_arctoides-SRR2981139
Name: Accession, dtype: object

The following files will be written to: /home/nickpichome/PDSB/Macaca/gatktutorial/sra-fastq-data
0    Macaca_assamensis-SRR2981114
Name: Accession, dtype: object

The following files will be written to: /home/nickpichome/PDSB/Macaca/gatktutorial/sra-fastq-data
0    Macaca_nigra-SRR5947294
Name: Accession, dtype: object

The following files will be written to: /home/nickpichome/PDSB/Macaca/gatktutorial/sra-fastq-data
0    Macaca_tonkeana-SRR5947293
Name: Accession, dtype: object

The following files will be written to: /home/nickpichome/PDSB/Macaca/gatktutorial/sra-fastq-data
0    Macaca_nemestrina_nemestrina-SRR5947292
Name: Accession, dtype: object